.wgt.wgt-text
  background-color: var(--wgt-text-bg)
  border-color: var(--wgt-text-border-color)
  justify-content: flex-start
  padding-left: var(--spacer-sm)
  padding-right: var(--spacer-sm)

  /* The actual text. */
  span
    user-select: text
