section.web-section
  ul
    li
      | Flareon Graph
    li
      a(href="/") Modifiers
    li
      a(href="/flareon/spreadsheet") Geometry Spreadsheet
    li
      a(href="/flareon/viewer") Viewer
