html
	head
		title Blender UI Mockups by Pablo Vazquez
		link(href="assets/css/main.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700", rel="stylesheet")

		link(href="assets/img/favicon_bh_facu.png", rel="shortcut icon")

	body

		section.ui-section.intro
			.theme-select Flatty Theme Variants:
				a.theme-main(href="javascript:void(0);", onclick="swapTheme('assets/css/main.css', 0);") Dark
				a.theme-alt(href="javascript:void(0);", onclick="swapTheme('assets/css/main_alt.css', 0);") Light

			.credits
				| HTML+CSS+JS Blender mockups by <a href="http://pablovazquez.art">Pablo Vazquez</a>

		h2 Top Bar
		section.ui-section
			#top-bar
				#top-bar__primary
					img.icon.blender-logo(
						src="assets/img/icons/icon_blender.png")

					ul.wgt-menu-simple
						li.wgt-menu-simple-item File
						li.wgt-menu-simple-item Window
						li.wgt-menu-simple-item Help

					.tabs-bar
						- var tabs = ['Modeling', 'Shading', 'Animation', 'Painting', 'Compositing', 'Sequencer', 'Grease Pencil', '+']
						each tab in tabs
							if tab == 'Animation'
								.tabs-bar__tab.enabled
									.tabs-bar__tab-title
										= tab
										span.action
											img.icon(src="assets/img/icons/icon_panel_close.png")
							if tab == '+'
								.tabs-bar__tab.no-icon
									.tabs-bar__tab-title
										= tab
							else
								.tabs-bar__tab
									.tabs-bar__tab-title
										= tab
										span.action
											img.icon(src="assets/img/icons/icon_panel_close.png")

					#top-bar__primary-right
						.wgt-id-block
							.wgt-id-block-id_list
								img.icon(src="assets/img/icons/icon_scene_data.png")
							.wgt-id-block-name
								span Scene
							.wgt-id-block-action
								img.icon(src="assets/img/icons/icon_zoomin.png")
							.wgt-id-block-action
								img.icon(src="assets/img/icons/icon_panel_close.png")

						#notifications-toggle
							#notifications-toggle-icon *

							.flyover

					// Not for now
						#window-buttons
							#window-buttons__button.close
							#window-buttons__button.min
							#window-buttons__button.max

				#top-bar__secondary
					#top-bar__secondary-mode
						.wgt-dropdown.js-bool
							.wgt-dropdown-container
								.wgt-dropdown-icon
									img.icon(src="assets/img/icons/icon_scene_data.png")
								.wgt-dropdown-name Object Mode
								.wgt-dropdown-arrows

					#top-bar__secondary-main
						.wgt-tool
							.wgt-tool-icon
								img.icon(src="assets/img/icons/icon_renderlayer.png")
							.wgt-tool-name Subdivide

						.wgt-checkbox.enabled.js-bool
							.wgt-checkbox-zone
							.wgt-checkbox-name Multiple Importance

						.wgt-checkbox.disabled
							.wgt-checkbox-zone
							.wgt-checkbox-name Quad/Tri

						.wgt-dropdown
							.wgt-dropdown-label Quad Type:
							.wgt-dropdown-container
								.wgt-dropdown-name Path
								.wgt-dropdown-arrows

						.wgt-tool.more
							.wgt-tool-name More...

					#top-bar__secondary-layout
						.wgt-id-block
							.wgt-id-block-id_list
								img.icon(src="assets/img/icons/icon_renderlayer.png")
							.wgt-id-block-name
								span RenderLayer
						.wgt-id-block
							.wgt-id-block-id_list
								img.icon(src="assets/img/icons/icon_splitscreen.png")
							.wgt-id-block-name
								span Default Layout
							//- .wgt-id-block-action
							//- 	img.icon(src="assets/img/icons/icon_zoomin.png")
							//- .wgt-id-block-action
							//- 	img.icon(src="assets/img/icons/icon_panel_close.png")


		h2 Status Bar
		section.ui-section
			#status-bar
				#status-bar__filepath
					| */home/koro/Desktop/shouldnt_save_on_desktop.blend
				#status-bar__stats
					ul
						li Verts:88,521
						li Faces:87,202
						li Tris:166,270
						li Objects:1/127
						li Lamps:0/4
						li Mem:731.70M
						li camrig_02

				#status-bar__jobs
					.wgt-progress_bar-circle__container
						.wgt-progress_bar-circle__text 84%
						.wgt-progress_bar-circle__inner
						.wgt-progress_bar-circle__progress.done_84
						.wgt-progress_bar-circle__progress.left_84

					.wgt-progress_bar-circle__container
						.wgt-progress_bar-circle__text 36%
						.wgt-progress_bar-circle__inner
						.wgt-progress_bar-circle__progress.done_36
						.wgt-progress_bar-circle__progress


		h2 Widgets
		section.ui-section.widgets
			h3 UI Lists

			.wgt-panel.enabled
				.wgt-panel-header.js-panel-collapse
					.wgt-panel-header-collapse
					.wgt-panel-header-name UI List Widget

				.wgt-panel-content
					.wgt-list-toolbar
						.wgt-tool.disabled.js-add-template(data-template="list-viewlayer")
							.wgt-tool-icon
								img.icon(src="assets/img/icons/icon_renderlayer.png")
							.wgt-tool-name
								| ViewLayer

						.wgt-tool.js-add-template(data-template="list-collection")
							.wgt-tool-icon
								img.icon(src="assets/img/icons/icon_collections.png")
							.wgt-tool-name
								| Collection

						.wgt-tool.js-add-template(data-template="list-override")
							.wgt-tool-icon
								img.icon(src="assets/img/icons/icon_rna.png")
							.wgt-tool-name
								| Override

					.wgt-list
						ul
							li
								.wgt-list-item.viewlayer.enabled
									img.icon.js-list-item-collapse(
										src="assets/img/icons/icon_tria_right.png")
									img.icon(
										src="assets/img/icons/icon_renderlayer.png")
									| ViewLayer Name
									ul
										li
											.wgt-checkbox.js-bool.enabled(
												title="Enable or disable this view layer")
												.wgt-checkbox-zone


		h2 Panels & Widgets
		section.ui-section.panels
			.wgt-panel.enabled
				.wgt-panel-header.js-panel-collapse
					.wgt-panel-header-collapse
					.wgt-panel-header-name Color Management

				.wgt-panel-content
					// ID Block
					.wgt-id-block
						.wgt-id-block-id_list
							img.icon(src="assets/img/icons/icon_scene_data.png")
						.wgt-id-block-name
							span Scene
						.wgt-id-block-action
							img.icon(src="assets/img/icons/icon_zoomin.png")
						.wgt-id-block-action
							img.icon(src="assets/img/icons/icon_panel_close.png")

					.wgt-separator

					// Tool Buttons
					.wgt-tool
						.wgt-tool-name Shrink/Fatten
					.wgt-tool
						.wgt-tool-icon
							img.icon(src="assets/img/icons/icon_panel_close.png")
						.wgt-tool-name Smooth Vertex
					.wgt-tool.disabled
						.wgt-tool-name Slide Edge

					.wgt-separator

					// Checkboxes
					.wgt-label Checkboxes:

					.wgt-checkbox.disabled
						.wgt-checkbox-zone
						.wgt-checkbox-name Wireframe
					.wgt-checkbox.js-bool
						.wgt-checkbox-zone
						.wgt-checkbox-name Draw All Edges
					.wgt-checkbox.enabled.js-bool
						.wgt-checkbox-zone
						.wgt-checkbox-name Multiple Importance


			.wgt-scrollbar
				.wgt-scrollbar-thumb

			.wgt-panel.enabled
				.wgt-panel-header.js-panel-collapse
					.wgt-panel-header-collapse
					.wgt-panel-header-name Dropdowns & Sliders

				.wgt-panel-content
					.wgt-label Dropdowns:

					// Dropdowns
					.wgt-dropdown
						.wgt-dropdown-container
							.wgt-dropdown-icon
								img.icon(src="assets/img/icons/icon_scene_data.png")
							.wgt-dropdown-name Object Mode
							.wgt-dropdown-arrows

					.wgt-dropdown
						.wgt-dropdown-container
							.wgt-dropdown-name Iconless Dropdown
							.wgt-dropdown-arrows

					.wgt-dropdown
						.wgt-dropdown-label With a Label:
						.wgt-dropdown-container
							.wgt-dropdown-name Value!
							.wgt-dropdown-arrows

					.wgt-separator

					.wgt-slider-number
						.wgt-slider-number-container
							.wgt-slider-number-arrow
							.wgt-slider-number-name Volume:
							.wgt-slider-number-value 0.000
							.wgt-slider-number-arrow

					.wgt-slider-number
						.wgt-slider-number-label Num Slider:
						.wgt-slider-number-container
							.wgt-slider-number-arrow
							.wgt-slider-number-value 327
							.wgt-slider-number-arrow

					.wgt-separator

					ul.wgt-radio
						li.wgt-radio-value.js-bool BW
						li.wgt-radio-value.js-bool.enabled RGB
						li.wgt-radio-value.js-bool RGBA

			.wgt-panel.enabled
				.wgt-panel-header.js-panel-collapse
					.wgt-panel-header-collapse
					.wgt-panel-header-name Value Slider & Text Input

				.wgt-panel-content
					.wgt-slider-value
						.wgt-slider-value-info
							.wgt-slider-value-label Unmodified:
							.wgt-slider-value-value 0%
						.wgt-slider-value-slider
							.wgt-slider-value-slider-manipulator

					.wgt-slider-value
						.wgt-slider-value-info
							.wgt-slider-value-label Value Modified:
							.wgt-slider-value-value 0.652
						.wgt-slider-value-slider.enabled
							.wgt-slider-value-slider-manipulator

					.wgt-slider-value.disabled
						.wgt-slider-value-info
							.wgt-slider-value-value 0.245 cm
						.wgt-slider-value-slider.enabled
							.wgt-slider-value-slider-manipulator

					.wgt-separator

					.wgt-input-text
						.wgt-input-text-label Filepath:
						.wgt-input-text-container.js-bool
							.wgt-input-text-value //../../
							.wgt-input-text-action
								img.icon(src="assets/img/icons/icon_splitscreen.png")

					.wgt-input-text
						.wgt-input-text-container.js-bool
							.wgt-input-text-placeholder Choose a path...
							.wgt-input-text-action
								img.icon(src="assets/img/icons/icon_renderlayer.png")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
script(src="assets/js/tutti.min.js")

// Templates
include templates/_widget-list
