extends layout.pug
include mixins/_modifiers.pug

block content
  section.ui-section.nodes
    .modifier-editor
      .modifier.active
        .modifier-header
          .layout-row
            .wgt.wgt-tool.no-emboss
              .icon.icon-collapse
            .wgt.wgt-regular.no-emboss
              .icon.icon-mod-node
            .layout-row.expand
              .wgt.wgt-text MyNodesModifier
              .wgt.wgt-regular
                .icon.icon-restrict-edit-mode
              .wgt.wgt-regular.active
                .icon.icon-restrict-screen
              .wgt.wgt-regular.active
                .icon.icon-restrict-render
              .wgt.wgt-menu
                .icon.icon-dropdown
            .wgt.wgt-tool.no-emboss
              .icon.icon-x
            .wgt.wgt-drag.no-emboss
              .icon.icon-drag

        //- .modifier-body
        //-   .wgt-label Settings are in the particle tab

      +mod_triangulate()
      +mod_decimate()

    .node-editor
      .nodes-grid-bg
      .nodes-context
        ul
          li
            .wgt.wgt-label
              .icon.icon-mesh
            span Suzanne
          li
            .icon.icon-angle-right
          li
            .wgt.wgt-label
              .icon.icon-modifier
            span MyNodesModifier

      .nodes-grid
        .node
          .node-header
            span.node-label Modifier Input
            .wgt.wgt-regular.no-emboss
              .icon.icon-restrict-view

          .node-body
            .node-entry.socket-type-geometry.is-output.is-connected
              .node-entry-socket
              .node-entry-value Geometry

            .node-entry.socket-type-object.is-output
              .node-entry-socket
              .node-entry-value Object

            .node-entry.socket-type-value.is-output
              .node-entry-socket
              .node-entry-value Maximum Density

            .node-entry.socket-type-normal.is-output
              .node-entry-socket
              .node-entry-value Angle

        .node.active
          .node-header
            span.node-label Points Distribution
            .wgt.wgt-regular.no-emboss
              .icon.icon-restrict-view

          .node-body
            .node-entry.socket-type-geometry.is-both-ways.is-connected
              .node-entry-socket
              .node-entry-value Geometry
              .node-entry-socket

            .node-entry.socket-type-value
              .node-entry-socket
              .node-entry-value Maximum Density

            .node-entry.socket-type-value
              .node-entry-socket
              .node-entry-value Minimum Distance

            .node-entry.socket-type-value
              .node-entry-socket
              .node-entry-value Density Attribute
