extends layout.pug

block content
  section.ui-section.nodes
    .modifier-editor
      .modifier
        .modifier-header
          .wgt.wgt-tool
            .icon.icon-collapse a
          .wgt.wgt-regular
            .icon.icon-mod-icon b
          .wgt.wgt-text Triangulate
          .wgt.wgt-regular.active
            .icon.icon-mesh c
          .wgt.wgt-regular.active
            .icon.icon-edit-mode d
          .wgt.wgt-dropdown
            .icon.icon-dropdown e
          .wgt.wgt-tool
            .icon.icon-x x
          .wgt.wgt-drag
            .icon.icon-drag .

        .modifier-body
          .wgt-label Settings are in the particle tab

      .modifier.active
        .modifier-header
          .wgt.wgt-tool
            .icon.icon-collapse a
          .wgt.wgt-regular
            .icon.icon-mod-icon b
          .wgt.wgt-text Triangulate
          .wgt.wgt-regular.active
            .icon.icon-mesh c
          .wgt.wgt-regular.active
            .icon.icon-edit-mode d
          .wgt.wgt-dropdown
            .icon.icon-dropdown e
          .wgt.wgt-tool
            .icon.icon-x x
          .wgt.wgt-drag
            .icon.icon-drag .

        .modifier-body
          .wgt-label Settings are in the particle tab

    .node-editor
      .nodes-grid
        .node
          .node-header
            span.node-label Scatter

          .node-body
            .node-entry
              .node-entry-socket.socket-type-geometry
              .node-entry-value Mesh

            .node-entry
              .node-entry-socket.socket-type-value
              .node-entry-value Seed

            .node-entry
              .node-entry-socket.socket-type-normal
              .node-entry-value Normal

        .node
          .node-header
            span.node-label Attribute Mix

          .node-body
            .node-entry
              .node-entry-socket.socket-type-geometry
              .node-entry-value Mesh

            .node-entry
              .node-entry-socket.socket-type-value
              .node-entry-value Seed

            .node-entry
              .node-entry-socket.socket-type-normal
              .node-entry-value Normal
