extends layout.pug
include mixins/_modifiers.pug

block content
  section.web-section
    h2 Flareon Graph
  section.ui-section.nodes
    .editor.modifier-editor
      .editor-header
        .wgt.wgt-menu
          span.icon.icon-editor-properties
          .icon.icon-dropdown

        //- .layout-row
          .layout-row.expand
            .wgt.wgt-label
              .icon.icon-mesh
            .wgt.wgt-label Cube

          .layout-row
            .icon.icon-search
            .wgt.wgt-text Search

      .layout-row.row
        .wgt.wgt-menu.expand
          span Add Modifier
          .icon.icon-dropdown

      .modifier.active
        .modifier-header
          .layout-row
            .wgt.wgt-tool.no-emboss
              .icon.icon-collapse
            .wgt.wgt-regular.no-emboss
              .icon.icon-mod-node
            .layout-row.expand
              .wgt.wgt-text MyNodesModifier
              .wgt.wgt-regular
                .icon.icon-restrict-edit-mode
              .wgt.wgt-regular.active
                .icon.icon-restrict-screen
              .wgt.wgt-regular.active
                .icon.icon-restrict-render
              .wgt.wgt-menu
                .icon.icon-dropdown
            .wgt.wgt-tool.no-emboss
              .icon.icon-x
            .wgt.wgt-drag.no-emboss
              .icon.icon-drag

        //- .modifier-body
        //-   .wgt-label Settings are in the particle tab

      +mod_triangulate()
      +mod_decimate()

    .editor.node-editor
      .editor-header
        .wgt.wgt-menu
          span.icon.icon-editor-node
          .icon.icon-dropdown

        .wgt.wgt-pulldown View
        .wgt.wgt-pulldown Select
        .wgt.wgt-pulldown Add
        .wgt.wgt-pulldown Node

        .wgt.wgt-menu
          span Node Groups
          .icon.icon-dropdown

        .wgt.wgt-data-block
          .layout-row
            .wgt.wgt-menu
              span.icon.icon-mod-node
              .icon.icon-dropdown
            .wgt.wgt-text
              span MyNodesModifier
            .wgt.wgt-tool
              .icon.icon-fake-user
            .wgt.wgt-tool
              .icon.icon-duplicate
            .wgt.wgt-tool
              .icon.icon-x

        .wgt.wgt-tool.no-emboss
          .icon.icon-pin

      .nodes-grid-bg
      .nodes-context
        ul
          li
            .wgt.wgt-label
              .icon.icon-mesh
            span Suzanne
          li
            .icon.icon-angle-right
          li
            .wgt.wgt-label
              .icon.icon-modifier
            span MyNodesModifier
          li
            .icon.icon-angle-right
          li
            .wgt.wgt-label
              .icon.icon-mod-node
            span Geometry Nodes Group

      .nodes-grid
        .node.node-cat-input
          .node-header
            .layout-row
              span.node-label Modifier Input

            .layout-row.node-action-buttons
              .wgt.wgt-regular.no-emboss
                .icon.icon-restrict-view
              .wgt.wgt-menu.no-emboss
                .icon.icon-dropdown

          .node-body
            .node-entry.socket-type-geometry.is-output.is-connected
              .node-entry-socket
              .node-entry-value Geometry

            .node-entry.socket-type-object.is-output
              .node-entry-socket
              .node-entry-value Object

            .node-entry.socket-type-float.is-output
              .node-entry-socket
              .node-entry-value Maximum Density

            .node-entry.socket-type-normal.is-output
              .node-entry-socket
              .node-entry-value Angle

            .node-entry.socket-type-empty.is-output
              .node-entry-socket
              .node-entry-value
                .icon.icon-plus

        .node.node-cat-geometry
          .node-header
            .layout-row
              span.node-label(title="Points Distribution")
                | Points Distribution

            .layout-row.node-action-buttons
              .wgt.wgt-regular.no-emboss
                .icon.icon-restrict-view
              .wgt.wgt-menu.no-emboss
                .icon.icon-dropdown

          .node-body
            .node-entry.socket-type-geometry.is-both-ways.is-connected
              .node-entry-socket
              .node-entry-value Geometry
              .node-entry-socket

            .node-entry.socket-type-boolean
              .node-entry-socket
              .node-entry-value Boolean

            .node-entry.socket-type-float
              .node-entry-socket
              .node-entry-value Float

            .node-entry.socket-type-rgba
              .node-entry-socket
              .node-entry-value RGBA

            .node-entry.socket-type-shader
              .node-entry-socket
              .node-entry-value Shader

            .node-entry.socket-type-image
              .node-entry-socket
              .node-entry-value Image

            .node-entry.socket-type-int
              .node-entry-socket
              .node-entry-value Integer

            .node-entry.socket-type-string
              .node-entry-socket
              .node-entry-value String

            .node-entry.socket-type-object
              .node-entry-socket
              .node-entry-value Object

            .node-entry.socket-type-vector
              .node-entry-socket
              .node-entry-value Vector

        .node.node-cat-output
          .node-header
            .layout-row
              span.node-label Modifier Output

            .layout-row.node-action-buttons
              .wgt.wgt-regular.no-emboss
                .icon.icon-restrict-view
              .wgt.wgt-menu.no-emboss
                .icon.icon-dropdown

          .node-body
            .node-entry.socket-type-geometry.is-connected
              .node-entry-socket
              .node-entry-value Geometry

            .node-entry.socket-type-empty
              .node-entry-socket
              .node-entry-value
                .icon.icon-plus

      .nodes-grid
        .node.node-cat-geometry
          .node-header
            .layout-row
              span.node-label(title="Subdivision Surface")
                | Subdivision Surface

            .layout-row.node-action-buttons
              .wgt.wgt-regular.no-emboss
                .icon.icon-restrict-view
              .wgt.wgt-menu.no-emboss
                .icon.icon-dropdown

          .node-body
            .node-entry.is-both-ways.socket-type-geometry
              .node-entry-socket
              .node-entry-value Geometry
              .node-entry-socket

            .node-entry.socket-type-int
              .node-entry-socket
              .node-entry-value Level

            .node-entry.socket-type-boolean
              .node-entry-socket
              .node-entry-value Use Creases

            .node-entry.socket-type-boolean
              .node-entry-socket
              .node-entry-value Boundary Smooth

            .node-entry.socket-type-boolean
              .node-entry-socket
              .node-entry-value Smooth UVs

        .node.node-cat-color
          .node-header
            .layout-row
              span.node-label
                | Mix RGB

            .layout-row.node-action-buttons
              .wgt.wgt-regular.no-emboss
                .icon.icon-restrict-view
              .wgt.wgt-menu.no-emboss
                .icon.icon-dropdown

          .node-body
            .node-entry.socket-type-float
              .node-entry-socket
              .node-entry-value Factor

            .node-entry.is-both-ways.socket-type-rgba
              .node-entry-socket
              .node-entry-value Color A
              .node-entry-socket

            .node-entry.socket-type-rgba
              .node-entry-socket
              .node-entry-value Color B
              .node-entry-socket

        .node.node-cat-vector
          .node-header
            .layout-row
              span.node-label
                | Sine

            .layout-row.node-action-buttons
              .wgt.wgt-regular.no-emboss
                .icon.icon-restrict-view
              .wgt.wgt-menu.no-emboss
                .icon.icon-dropdown

          .node-body
            .node-entry.is-both-ways.socket-type-vector
              .node-entry-socket
              .node-entry-value Vector
              .node-entry-socket
