html
	head
		- var page_title = "";
		- var body_class = "";

		block variables

		title #{page_title}Blender UI Mockups by Pablo Vazquez
		link(href="/assets/css/main.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700", rel="stylesheet")

		link(href="/assets/img/favicon_bh_facu.png", rel="shortcut icon")

	body.loading(class=body_class)
		//
			section.ui-section.intro-header
				.theme-select Themes:
					a.theme-main(href="javascript:void(0);", onclick="swapTheme('/assets/css/main.css', 0);") Dark
					a.theme-alt(href="javascript:void(0);", onclick="swapTheme('/assets/css/main_alt.css', 0);") Light

				.credits
					| #[a(href="https://github.com/venomgfx/blender-ui") HTML+CSS+JS] Blender mockups by #[a(href="https://pablovazquez.art") Pablo Vazquez]

		block content

		script(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="/assets/js/mousetrap-v1.6.1.min.js")
		script(src="/assets/js/generated/tutti.min.js")

		script.
			$(document).ready(function(){
				$('body').removeClass('loading');
			});

		block scripts

		script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-2147150-3")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-2147150-3');
