/* ID Blocks */
.wgt-id-block
	display: flex
	align-items: center
	height: $wgt-height
	border-radius: $wgt-border-radius
	min-width: 150px
	margin: $wgt-margin

	&-label,
	&-id_list,
	&-name,
	&-action
		display: flex
		align-items: center
		height: 100%
		box-shadow: 0 0 0 1px rgba($wgt-input-background, .4)
		user-select: none
		+wgt-box-shadow

		&:last-child
			border-top-right-radius: $wgt-border-radius
			border-bottom-right-radius: $wgt-border-radius

	&-label
		color: $global-color-text
		padding-right: 10px
		white-space: nowrap
		box-shadow: none

	&-id_list
		background-color: $wgt-input-background
		border-top-left-radius: $wgt-border-radius
		border-bottom-left-radius: $wgt-border-radius
		&:hover
			background-color: lighten($wgt-input-background, 5%)

		img
			padding: 0 5px
			margin: auto

	&-name
		color: $wgt-input-text
		background-color: $wgt-input-background
		padding: 0 5px
		flex: 1
		min-width: 80px
		font-size: .9em
		user-select: initial
		&:hover
			background-color: lighten($wgt-input-background, 5%)
		&:active span
			color: $global-color-accent-active
			background-color: $global-color-accent

	&-action
		color: $wgt-tool-text
		background-color: $wgt-tool-background
		&:hover
			background-color: lighten($wgt-tool-background, 5%)

		&:last-child
			border-top-right-radius: $wgt-border-radius
			border-bottom-right-radius: $wgt-border-radius

		img
			padding: 0 5px
			margin: auto
