/* Slider: Number */
.wgt-list
	+wgt-box-shadow
	+wgt-defaults
	border-radius: $wgt-border-radius
	color: $global-color-text
	margin: $wgt-margin
	overflow: hidden
	min-height: 200px
	max-height: 400px
	overflow: auto
	background-color: darken($global-color-background, 8%)

	ul
		display: flex
		flex-direction: column
		list-style: none
		padding: 0
		margin: 0
		position: relative

		&:before
			background-color: rgba($global-color-text, .33)
			content: ''
			position: absolute

		&:before
			height: 100%
			top: 0
			left: 18px
			width: 1px

		li
			display: flex
			flex-direction: column
			position: relative

			ul
				display: flex
				margin-left: 25px

				&.hidden
					display: none

	img.icon
		margin-right: 10px

		&.js-list-item-collapse
			opacity: .5
			pointer-events: none

	&-item
		align-items: center
		background-color: darken($global-color-background, 8%)
		display: flex
		padding: 5px 10px
		position: relative

		+wgt-global-hover(darken($global-color-background, 5%))
		+wgt-global-active

		&:hover > ul
			background-color: $global-color-background

		&:active, &:active ul,
		&.enabled, &.enabled ul
			color: $global-color-accent-active
			background-color: $global-color-accent

		&.collapsed
			&~ul
				display: none

		&.has-children
			img.icon.js-list-item-collapse
				opacity: 1
				pointer-events: initial

		span.name
			+text-overflow-ellipsis
			padding-right: 70px // hardcoded for 3 icons width, not nice

		// Buttons such as visibility, selectability. enable..bility?
		> ul
			background-color: darken($global-color-background, 8%)
			display: flex !important
			flex-direction: row
			margin-left: auto !important
			padding: 3px 5px
			position: absolute
			right: 0
			top: 0
			transition: background-color 100ms ease-in-out

			&:before
				display: none

	&-toolbar
		display: flex
		align-items: center

		> ul
			flex-direction: row

		img.icon
			margin-right: 0

