/* Panel */
.wgt-panel
	display: flex
	flex-direction: column
	position: relative
	min-width: 280px
	max-width: 350px
	margin-right: 10px

	&.enabled
		.wgt-panel-content
			display: block
			min-height: 250px

		.wgt-panel-header
			border-bottom-left-radius: 0
			border-bottom-right-radius: 0

		.wgt-panel-header-collapse
			top: 3px
			border-top-color: $global-color-text
			border-left-color: transparent

	&-header
		background-color: lighten($global-color-background, 10%)

		border-radius: $wgt-border-radius

		display: flex
		align-items: center
		color: $global-color-text
		padding: 5px 10px
		font:
			weight: 600

		&-collapse
			position: relative
			top: 0
			width: 0
			height: 0
			border: 4px solid transparent
			border-top-color: transparent
			border-left-color: $global-color-text
			margin-right: 5px
			padding: 1px

		&-name
			cursor: default
			user-select: none
			+wgt-text-shadow

	&-content
		display: none
		padding: 5px 10px
		background-color: $global-color-background

		border-bottom-left-radius: $wgt-border-radius
		border-bottom-right-radius: $wgt-border-radius
		box-shadow: inset 0 1px 5px rgba(black, .15)
