/* Radio */
.wgt-radio
	+wgt-defaults
	align-items: center
	border-radius: $wgt-border-radius
	color: $wgt-input-text
	display: flex
	justify-content: space-around
	list-style: none
	margin: $wgt-margin
	padding: 0

	li.wgt-radio-value
		background-color: $wgt-input-background
		border-left: thin solid rgba($wgt-input-text, .2)
		flex: 1
		padding: 3px
		text-align: center

		+wgt-global-active
		+wgt-global-hover($wgt-input-background)

		&:first-child
			border-top-left-radius: 3px
			border-bottom-left-radius: 3px
			border-left: none

		&:last-child
			border-top-right-radius: 3px
			border-bottom-right-radius: 3px

		&.enabled
			+wgt-text-shadow
			color: $global-color-accent-active
			background-color: $global-color-accent
