/* Radio */
.wgt-radio
	+wgt-defaults
	+wgt-text-shadow
	align-items: center
	border-radius: $wgt-border-radius
	color: $global-color-text
	display: flex
	justify-content: space-around
	list-style: none
	margin: $wgt-margin
	padding: 0

	li.wgt-radio-value
		background-color: $wgt-input-background
		border-left: thin solid $wgt-input-background
		flex: 1
		padding: 3px
		text-align: center

		&:hover
			background-color: lighten($wgt-input-background, 5%)

		&:first-child
			border-top-left-radius: 3px
			border-bottom-left-radius: 3px
			border-left: none

		&:last-child
			border-top-right-radius: 3px
			border-bottom-right-radius: 3px

		&.enabled
			color: $global-color-accent-active
			background-color: $global-color-accent
			text-shadow: none
