/* Tool */
.wgt-tool
	+wgt-box-shadow
	+wgt-defaults
	display: flex
	align-items: center
	height: $wgt-height
	background-color: $wgt-tool-background
	color: $wgt-tool-text
	margin: $wgt-margin
	border-radius: $wgt-border-radius
	padding: 0 12px

	+wgt-global-hover($wgt-tool-background)
	+wgt-global-active

	&-name
		padding-top: 3px
		padding-bottom: 3px

	&-icon
		padding-right: 10px
