/* Tool */
.wgt-tool
	+wgt-box-shadow
	+wgt-defaults
	align-items: center
	background-color: $wgt-tool-background
	border-radius: $wgt-border-radius
	color: $wgt-tool-text
	display: flex
	height: $wgt-height
	margin: $wgt-margin
	padding: 0 12px

	+wgt-global-hover($wgt-tool-background)
	+wgt-global-active

	&-name
		padding-top: 3px
		padding-bottom: 3px

	.wgt-tool-icon
		&+.wgt-tool-name
			padding-left: 10px


.wgt-tool-group
	+wgt-box-shadow
	align-items: center
	border-radius: $wgt-border-radius
	display: flex
	margin: $wgt-margin
	overflow: hidden
	padding: 0

	&.vertical
		flex-direction: column

	&+.wgt-tool-group
		margin-left: 5px

	.wgt-tool
		border-left: thin solid darken($wgt-tool-background, 10%)
		border-radius: 0
		flex: 1
		margin: 0

		&:first-child
			border-left: none
