.editor
  border-top: var(--editor-border-width) solid var(--editor-border-color)

.editor-header
  background-color: var(--editor-header-bg)
  display: flex
  padding: var(--spacer-xs)
  position: relative
  z-index: 1
