\:root
  --web-body-bg-color: #222
  --web-body-color: #ddd

  --spacer: 1rem
  --spacer-sm: calc(var(--spacer) * .75)
  --spacer-xs: calc(var(--spacer) * .5)
  --spacer-xxs: calc(var(--spacer) * .25)

  --border-width: .1rem

  --shadow-color: #000

  --font-size: 1rem
  --font-size-sm: calc(var(--font-size) * .85)

  --accent-color: hsl(217deg 47% 55%)

  --editor-border-color: #111
  --editor-border-width: var(--spacer-xxs)

  --wgt-border-radius: .33rem
  --wgt-box-shadow: 0 0 3rem rgba(var(--shadow-color), .5)
  --wgt-padding: .15rem

  --wgt-text-bg: #222

  --icon-size: 16px
