$web-header-height: 35px

// Persistent Top Bar: Primary (tabs).
$header-bar-primary-height: 30px

// Widgets.
$wgt-height: 20px
$wgt-margin: 5px 0 // top/bottom margins
$wgt-border-radius: 3px

=wgt-box-shadow
  box-shadow: 1px 1px 1px rgba(#000, .2)

=wgt-defaults
  cursor: default
  position: relative
  user-select: none
  white-space: nowrap

=wgt-global-active
  &:active
    background-color: $global-color-accent
    color: $global-color-accent-active

=wgt-global-hover($color)
  &:hover
    background-color: lighten($color, 5%)

=wgt-disabled
  pointer-events: none
