
[class^="wgt"]
	&.disabled
		opacity: .5
		pointer-events: none

/* ID Blocks */
.wgt-id-block
	display: flex
	align-items: center
	height: $wgt-height
	border-radius: $wgt-border-radius
	min-width: 150px
	max-width: 250px
	margin: $wgt-margin

	&-label,
	&-id_list,
	&-name,
	&-action
		display: flex
		align-items: center
		height: 100%
		box-shadow: 0 0 0 1px rgba($wgt-dropdown-background, .4)
		user-select: none
		+wgt-shadow

		&:last-child
			border-top-right-radius: $wgt-border-radius
			border-bottom-right-radius: $wgt-border-radius

	&-label
		padding-right: 10px
		white-space: nowrap
		box-shadow: none

	&-id_list
		background-color: $wgt-dropdown-background
		border-top-left-radius: $wgt-border-radius
		border-bottom-left-radius: $wgt-border-radius
		&:hover
			background-color: lighten($wgt-dropdown-background, 5%)

		img
			padding: 0 5px
			margin: auto

	&-name
		color: $wgt-input-text
		background-color: $wgt-input-background
		padding: 0 5px
		flex: 1
		min-width: 80px
		font-size: .9em
		user-select: initial
		&:hover
			background-color: lighten($wgt-input-background, 5%)

	&-action
		color: $wgt-tool-text
		background-color: $wgt-tool-background
		&:hover
			background-color: lighten($wgt-tool-background, 5%)

		&:last-child
			border-top-right-radius: $wgt-border-radius
			border-bottom-right-radius: $wgt-border-radius

		img
			padding: 0 5px
			margin: auto


/* Simple menu, such as the top File, Window, Help */
ul.wgt-menu-simple
	list-style: none
	padding: 0
	white-space: nowrap
	margin: $wgt-margin
	li
		display: inline-block
		margin: 0 10px

		&:hover
			color: $global-color-text-active


/* Checkbox */
.wgt-checkbox
	display: flex
	align-items: center
	margin: $wgt-margin
	user-select: none

	&-name
		color: $global-color-text
		padding-left: 10px
		cursor: default

	&-zone
		display: inline-block
		position: relative
		background-color: $wgt-input-background
		height: $wgt-height / 1.5
		width: $wgt-height / 1.5
		border-radius: $wgt-border-radius
		+wgt-shadow

	&:hover
		.wgt-checkbox-name
			color: lighten($global-color-text, 20%)

	&.enabled
		.wgt-checkbox-name
			color: $global-color-text-active

		.wgt-checkbox-zone
			background-color: $global-color-accent
			&:after
				content: ''
				position: absolute
				left: 4px
				display: block
				width: 4px
				height: 7px
				border: solid $global-color-accent-active
				border-width: 0 3px 3px 0
				border-radius: 3px
				transform: rotate(45deg)
				+wgt-shadow


/* Dropdown Menu */
.wgt-dropdown


/* Tool */
.wgt-tool
	display: flex
	align-items: center
	background-color: $wgt-tool-background
	margin: $wgt-margin
	border-radius: $wgt-border-radius
	padding: 5px 10px
	user-select: none
	cursor: default
	+wgt-shadow

	&:hover
		background-color: lighten($wgt-tool-background, 5%)

	&:active
		color: $global-color-accent-active
		background-color: $global-color-accent

	&-icon
		padding-right: 10px


.wgt-separator
	display: inline-block
	margin: $wgt-margin 0


/* Progress Bars */
$wgt-progress_bar-circle-size: $wgt-height
.wgt-progress_bar
	&-circle
		&__container
			margin-top: 0
			margin-bottom: 0
			position: relative
			margin-left: 5px
			background-color: $color-status-success
			border-radius: 50%
			box-shadow: 1px 1px 2px rgba(black, .2)
			transition: transform 150ms ease-in-out

			&:hover
				transform: scale(1.2)

		/* Inner circle, where the values display */
		&__inner
			z-index: 1
			width: $wgt-progress_bar-circle-size - 5
			height: $wgt-progress_bar-circle-size - 5
			border-radius: 50%
			background-color: #445
			+position-center-translate

			margin:
				top: 0
				bottom: 0

		/* Value */
		&__text
			z-index: 2
			color: white
			font-size: .55em
			+position-center-translate

			margin:
				top: 0
				bottom: 0

		&__progress
			margin:
				top: 0
				bottom: 0
			width: 0
			height: 0
			transform: rotate(0)
			border-top: $wgt-progress_bar-circle-size / 2 solid transparent
			border-right: $wgt-progress_bar-circle-size / 2 solid transparent
			border-left: $wgt-progress_bar-circle-size / 2 solid $color-status-error
			border-bottom: $wgt-progress_bar-circle-size / 2 solid $color-status-error
			border-radius: 50%

			&.done_36
				position: absolute
				transform: rotate(45deg)
			&.done_84
				position: absolute
				transform: rotate(45deg)
			&.left_84
				border-left: $wgt-progress_bar-circle-size / 2 solid $color-status-success
				border-bottom: $wgt-progress_bar-circle-size / 2 solid $color-status-success


/* Tabs */
.tabs-bar
	display: flex
	height: $header-bar-primary-height
	position: relative

	&__tab
		position: relative
		display: flex
		flex-direction: column
		justify-content: flex-end

		&-title
			height: 100%
			display: flex
			align-items: center
			position: relative
			padding:
				left: 10px
				right: 10px
			user-select: none

			+text-overflow-ellipsis
			color: $global-color-text
			background-color: darken($global-color-background, 7.5%)

			border-top-left-radius: 3px
			border-top-right-radius: 3px
			border:
				top: thin solid darken($global-color-background, 15%)
				left: thin solid darken($global-color-background, 15%)
				right: thin solid darken($global-color-background, 15%)
				bottom: none

			&:hover
				background-color: darken($global-color-background, 5%)

		&.enabled .tabs-bar__tab-title
			color: $global-color-text-active
			border-top-color: $global-color-accent
			background-color: $global-color-background

			&:hover
				background-color: $global-color-background
