body.ed-outliner
	min-width: initial

.list-flat
	&-container
		background-color: $global-color-background
		height: 100%
		width: 100%

		ul
			list-style-type: none
			margin: 0
			padding: 0

			&.children
				padding-left: 15px

				&+.children
					padding-left: 15px * 2

				&+.children+.children
					padding-left: 15px * 6

			li
				+wgt-global-hover($global-color-background)
				display: flex
				justify-content: center
				flex-direction: column
				width: 100%

				// &:nth-child(odd)
				// 	+wgt-global-hover(darken($global-color-background, 2%))
				// 	background-color: darken($global-color-background, 2%)


				img.icon
					justify-self: center

				.list-flat-item
					display: flex
					align-items: center
